
@{
    ViewBag.Title = "ReportSalesByBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fromDate = ViewData["fromDate"];
    var toDate = ViewData["toDate"];
}

<h2>ReportSalesByBranch</h2>

