@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dist/CheckStyle/build.css" rel="stylesheet" />
<script src="~/crm_manager/Js/Company.js"></script>
<div class="box box-default">
    <div class="box-header with-border">
        <i class="ion ion-clipboard"></i>
        <h3 class="box-title">Quản lý công ty</h3>
        <div class="pull-right box-tools">
            <!-- button with a dropdown -->
            <button type="button" class="btn btn-success btn-sm add-company">
                <i class="fa fa-plus"></i>&nbsp;Thêm mới
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table no-margin" id="tblCompany">
            <thead>
                <tr class="success">
                    <th>#</th>
                    <th>Tên công ty</th>
                    <th>Mã công ty</th>
                    <th>Số lượng user</th>
                    <th>Ghi chú</th>
                    <th>Người tạo</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody id="tbdCompany"></tbody>
        </table>
    </div>
</div>